html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'SourceSans3';
    src: url('/Source_Sans_3/static/SourceSans3-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: white;
    color: black;
    max-width: 2110px;
    min-width: 560px;
    font-family: 'SourceSans3', sans-serif;
    font-size: 1rem;
    margin: auto;
    hyphens: auto;
}
.button-container {
    display: flex;
    align-items: stretch;
    background-color: steelblue;
    position: fixed !important;
    width: 100%; /* Full width as well */
    z-index: 1;
    margin-top: 78px;
}
.text {
    margin: 0;
    padding: 0 10px 5px 15px;
    position: relative;
    display: flex;
    align-items: center;
}
.link {
    padding: 0 10px 5px 10px;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
}
.link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: black;
}

.site-header a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 4px 4px rgba(0, 51, 102, 0.3);
}
.site-header p {
    color: turquoise;
    background-color: steelblue;
    text-shadow: 2px 4px 4px rgba(0, 51, 102, 0.3);
}

.site-header p {
    font-weight: 700;
}

figure {
    position: relative;
    padding: 0;
    margin: 0;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto; /* Automatische Zeilenhöhe */
    gap: 0; /* Kein Abstand zwischen den Bildern */
    padding-top: 105px; /* Platz für den fixierten Header */
    z-index: 10;
}


.grid-item {
    padding: 0; /* Entfernt das Padding */
    margin: 0; /* Entfernt das Margin */
}
img {
    width: 100%; /* Bilder nehmen 100% der Breite der Grid-Items ein */
    height: auto; /* Proportionen des Bildes beibehalten */
    display: block; /* Entfernt eventuelle Abstände unterhalb der Bilder */
    margin: 0 auto; /* Zentriert das Bild */
}

.fav-games {
    display: grid;
    gap: 30px;
    justify-items: stretch;
}

main p {
    margin: 0;
    padding: 10px 1rem 100px 1rem;
}
h1 {
    background-color: steelblue;
    color: white;
    padding: 1rem;
    text-shadow: 2px 4px 4px rgba(0, 51, 102, 0.3);
    margin: 0;
    position: fixed;
    top: 0; /* Aligns it to the top of the viewport */
    width: 100%; /* Make it take full width */
    z-index: 10; /* Higher z-index to ensure it stays on top */
    text-wrap: nowrap;
}
h2 {
    padding-top: 1rem;
}
h2, h3 {
    padding-left: 1rem;
}
h2, h3, h4 {
    color: steelblue;
    font-size: 80px;
    text-shadow: 2px 4px 4px rgba(0, 51, 102, 0.3);
    margin: 0;
    padding-bottom: 80px;
}
h5 {
    margin: 0;
    font-size: 1.5rem;
    padding: 0.1rem 0.5rem;
    border-top: 0.5rem solid steelblue;
    border-bottom: 0.5rem solid steelblue;
    text-shadow: 2px 4px 4px rgba(0, 51, 102, 0.3);
}

.scroll-container {
    overflow-x: auto; /* Horizontales Scrollen aktivieren */
    overflow-y: hidden; /* Vertikales Scrollen verhindern */
    white-space: nowrap; /* Verhindert Umbrüche */
    height: auto; /* Feste Höhe für den Container */
    width: 100%; /* Volle Breite des Containers */
    border: 1px solid #ccc; /* Rahmen für die Scrollbox */
    padding: 0; /* Abstand oben und unten entfernen */
    box-sizing: border-box; /* Rahmen und Padding in der Breite berücksichtigen */
}

.image-grid2 {
    display: inline-flex; /* Flexibles Layout für die Bilder */
}

.grid-item2 {
    display: inline-block; /* Inline-Block für die Boxen */
    width: 150px; /* Breite der Boxen */
    height: 308px; /* Höhe der Boxen */
    margin-right: 10px; /* Abstand zwischen den Boxen */
    background-color: #f0f0f0; /* Hintergrundfarbe für die Boxen */
    border: 2px solid steelblue; /* Rahmen hinzufügen */
    border-radius: 5px; /* Abgerundete Ecken */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Schatten hinzufügen */
    transition: transform 0.2s; /* Übergangseffekt für Hover */
    margin: 50px 10px;
}

.grid-item2:hover {
    transform: scale(1.05); /* Vergrößerungseffekt bei Hover */
}

.grid-item2 img {
    width: 100%; /* Breite des Bildes */
    height: 100%; /* Höhe des Bildes */
    object-fit: cover; /* Bildabdeckung */
}


hr {
    border-top: 0.5rem solid steelblue;
    margin-bottom: 1rem;
    margin-top: 80px;
}

.container {
    padding-top: 2rem; /* Platz für den fixierten Header */
}

.container {
    width: 100%;
    overflow: hidden;
}

.content {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    box-sizing: border-box;
}
.content img {
    width: 150px;
    height: auto;
}

.content p {
    flex: 1;
    padding: 0 20px;
    font-size: 1rem;
    text-align: left;
}

@media screen and (max-width: 843px) and (orientation: portrait) {
    .image-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto; /* Automatische Zeilenhöhe */
        gap: 0; /* Kein Abstand zwischen den Bildern */
        padding-top: 127px; /* Platz für den fixierten Header */
        z-index: 10;
    }
}
@media screen and (max-width: 843px) and (orientation: landscape) {
    .image-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto; /* Automatische Zeilenhöhe */
        gap: 0; /* Kein Abstand zwischen den Bildern */
        padding-top: 127px; /* Platz für den fixierten Header */
        z-index: 10;
    }
}
@media screen and (max-width: 130px) and (orientation: portrait) {
    .image-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto; /* Automatische Zeilenhöhe */
        gap: 0; /* Kein Abstand zwischen den Bildern */
        padding-top: 149px; /* Platz für den fixierten Header */
        z-index: 10;
    }
}
  @media screen and (max-width: 130px) and (orientation: landscape) {
    .image-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto; /* Automatische Zeilenhöhe */
        gap: 0; /* Kein Abstand zwischen den Bildern */
        padding-top: 149px; /* Platz für den fixierten Header */
        z-index: 10;
    }
}