html {
    scroll-behavior: smooth;
}
/* Darstellungseintellung für Font */
@font-face {
    font-family: 'SourceSans3';
    src: url('/Source_Sans_3/static/SourceSans3-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Darstellungseintellung Des Bodys */
body {
    background-color: whitesmoke;
    color: black;
    max-width: 2110px;
    min-width: 360px;
    font-family: 'SourceSans3', sans-serif;
    font-size: 1rem;
    margin: auto;

    /* für Sticky-Footer */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* Darstellungseintellung der Header Tasten box */
.button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 10;
}
.site-header .button-container {
    /* basiert auf eigener Textgröße/Zeilenhöhe */
    padding-block: 1.2lh;   /* oben/unten = 1 Zeilenhöhe */
    padding-inline: 2lh;    /* links/rechts = 2 Zeilenhöhe */ 
    display: flex;
    align-items: center;
    gap: 1rem;
}
/* Darstellungseintellung der Header a Elemente */
.site-header a {
    color: black;
    text-decoration: none;
    text-shadow: 2px 4px 4px rgba(0, 51, 102, 0.3);
    font-weight: 599;
}
/* Darstellungseintellung der Header p Elemente */
.site-header .text {
    color: black;
    text-shadow: 2px 4px 4px rgba(0, 51, 102, 0.3);
    font-size: 21px;
    font-weight: bold;
}
.site-content {
    display: flex; 
    place-items: center;        /* horizontal + vertikal */
    margin: auto;
}
.site-content.home, .site-content.project-gallery {
    width: 90%;        /* Breite des Inhalts */
}

.site-content p { 
    margin: auto; 
    padding: 0; 
    height: fit-content;
}
/* Darstellungseintellung des Header Texts */
.text {
    padding: 0 10px 5px 15px;
    position: relative;
    display: flex;
    align-items: center;
}
/* Darstellungseintellung der Header links */
.Header-link {
    padding: 0 10px 5px 10px;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
}
/* Darstellungseintellung der Header ::before link-element */
.Header-link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: black;
}
.Header-link:hover {
    color: #9C720A;
}
/* Darstellungseintellung der Header Bilder, Lieblings-Spiele bilder und Projekte blöcke */
img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
/* Darstellungseintellung der header p Element */
main p {
    margin: 0;
    padding: 10px 1rem 100px 1rem;
}
/* Darstellungseintellung der Überschrift "Home" und "Über mich" und Projekte bibliothek*/
h2 {
    font-size: 20px;
}
.CV-List_Grid1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/* Datum oben rechts mit Abstand zur "Wand" */
.CV-List_Grid1 .CV-List_Date {
    align-self: start;
    justify-self: end;
    margin: 0;
    padding-right: 10%;  /* Abstand zur rechten Grid-Wand */
    width: auto;         /* KEIN 100% hier nötig (oft hinderlich) */
}
.Double_LineBreak {
    display: block;
    margin-bottom: 2rem;
}
.Double_LineBreak_Spacer {
    display: block;
    margin: 2rem 0;
    border-color: rgba(0,0,0,0.25);
}
.button-container .Current-Page {
    color: darkgoldenrod;
}
/* Responsive Design HOME */
@media screen and (max-width: 950px) {

    .site-content   { flex-direction: column; flex-wrap: nowrap; align-items: center; }
    .bio-text.home  { order: 1; width: min(70ch, 100%); }
    .site-content .foto3-1 { order: 2; flex: 0 0 auto; margin-bottom: 5%; }
    .bio-btn { 
        order: 2; 
        justify-content: center; 
        flex-wrap: wrap; 
        gap: clamp(.75rem, 2vw, 1.25rem); 
        margin: 5% 0; 
        align-content:flex-start; 
    } 
}
@media screen and (max-width: 720px) {
    .site-header .button-container {
        padding-block: .6lh;    /* hälfte der Zeilenhöhe */
        padding-inline: 3%;     /* Nach Augenmass geschätzter Abstand, um bündig mit dem Bio-Text zu sein. */
    }
}

@media screen and (max-width: 610px) {
    .CV-List_Grid2, .CV-List_Grid1, 
    .CV-List_Grid1.project-gallery { grid-template-columns: 1fr; }

    .CV-List_Grid2 .CV-List_Grid1 .CV-List_Date { justify-self: start; padding-right: 0;}

    .bio-text.project-gallery { justify-items: center; }

    .CV-List_Grid1 h2 { margin-bottom: 1rem; }
    /* b und p umbrechen */
    .CV-List_Grid1 b,
    .CV-List_Grid1 p {
        word-wrap: break-word;
        overflow-wrap: anywhere;
    }    
}
/* Darstellungseintellung des Footers */
.site-footer {
    height: 5rem;
    background-color: #6baed6;
    border-top: 1rem solid steelblue;
    margin-top: auto;
}

.footer-links a {
    padding-top: 20px;
    padding-left: 10px;
    text-decoration: none;
    color: white;
}

.footer-links a:hover { text-decoration: underline; }
