.bio-btn {
    display:flex;
    justify-content:flex-start;
    flex-wrap:wrap;
    margin: 5% 0;                       /* oben/unten 5%, links/rechts 0 */
    /* vorher: gap: clamp(1rem, 3vw, 3rem); */
    column-gap: clamp(1rem, 3vw, 3rem); /* horizontal dynamisch */
    row-gap: .5rem;                     /* vertikal klein & fix */
    align-content:flex-start;           /* Zeilen nicht strecken */
    flex: 0 1 auto;                     /* nicht in die Höhe wachsen */
}
.bio-btn a {
    /* Basis nutzt Variablen */
    background:var(--bg); color:var(--fg); border:1px solid var(--bd);
    display: grid;          /* statt flex */
    place-items: center;    /* horizontal + vertikal */
    inline-size: 140px;
    block-size: 140px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
}
.bio-btn a:hover { background: white; transition-duration: 300ms; }

/* farben kinder #eea302 #ff3b25 #ff3b25 */
/* Zuordnung pro Kind */
.bio-btn a:nth-child(1) { --bg:#eea302; --bd:black; --fg:black; }
.bio-btn a:nth-child(2) { --bg:#ff3b25; --bd:black; --fg:black; }
.bio-btn a:nth-child(3) { --bg:#80D8DA; --bd:black; --fg:black; }

.site-content.home .foto3-1 {
    width: 23%;         /* Bild dynamisch: 23% vom Container */
    min-width: 320px;   /* min. 320px breit */
    min-height: 320px;  /* min. 320px hoch */
    max-width: 30rem;   /* max. 480px breit */
    height: auto;
    flex: 0 0 auto;
    margin: 0 3% 5% 5%;  /* rechts 3% Abstand links 5% Abstand*/
    border-radius: 50%;
}